body
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,221,214,1) 0%, rgba(51,102,255,1) 90% );
    /* background-image: linear-gradient( 181deg,  rgba(225,109,245,1) 6.9%, rgba(78,248,231,1) 112.8% ); */
    /* background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% ); */
    /* poner height: 100vh; cuando se use para la mediaquery de ipad pro */
    height: 100%;
    margin: 0;
    padding: 0;
}

.header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img
{
    height: 80px;
    padding-top: 30px;
}

.header__h1
{
    text-align: center;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    text-shadow: 4px 3px 2px #000000;
    font-size: 50px;
}

.contenedor
{
    display: flex;
    flex-direction: column; 
    margin: auto;   
}

.contenedorPrincipalPromedio, .contenedorPrincipalMediana, .contenedorPrincipalModa
{
    margin-bottom: 30px;
    -webkit-box-shadow: 11px 10px 29px -2px #000000; 
    box-shadow: 11px 10px 29px -2px #000000;
}

.footer__p
{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
}



@media only screen and (min-width: 600px) {

    body
    {
        height: 100vh;
    }

    .header
    {
        flex-direction: row;
        justify-content: center;
    }

    .header__img
    {
        padding: 0 30px 0 0;
    }

    .header__h1
    {
        font-size: 80px;
    }

    .contenedor
    {
        flex-direction: row;
    }

    .contenedorPrincipalPromedio, .contenedorPrincipalMediana, .contenedorPrincipalModa
    {
        margin: 33px 33px;
    }
    
}

@media only screen and (min-height: 1180px) {
/* @media only screen and (min-width: 1024px) { */

    body
    {
        height: 100vh;
    }

    .contenedor
    {
        flex-direction: column;
    }
}
