body
{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    /* font-family: 'Chakra Petch', sans-serif; */
    /* font-family: 'Special Elite', cursive; */
    background-image: url('https://i.gifer.com/QMXU.gif');
    background-repeat:no-repeat;
    background-size:cover;
}

#video_background
{
    /* height: 100%; */
    position: fixed;
    width: 100%;
    z-index: -100;
}

.h1
{
    position: absolute;
    font-weight: bold;
    color: orange;
    text-align: center;
    font-size: 3.5em;
    font-family: 'Special Elite', cursive;
    top: 40%;
    text-shadow: 0px 0px 2px #000, 0px 0px 4px #000;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 1px #000000;
}

.p
{
    position: absolute;
    color: orange;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Special Elite', cursive;
    top: 60%;
    text-shadow: 0px 0px 2px #000, 0px 0px 4px #000;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 190px;
    text-shadow: 2px 1px 1px #000000;
}

.nav__ol
{
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin-top: 0;
    padding: 30px 0;
    font-weight: bold;
    top: 0;
    width: auto;
    margin: 0;
    min-width: 100%;
    right: 0px;
    left: 0px;
}

a
{
    text-decoration: none;
    color: orange;
} 

a:hover
{
    color: yellow;
    font-family: 'Special Elite', cursive;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    padding: 4px 0;
    transition: 0.1s ease-out;
}
    
.footer__p
{

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #fff;
    text-align:center;
    z-index: 3;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 0;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: auto;
    height: 25px; 
    margin: 0;
    min-width: 100%;
    right: 0px;
    left: 0px;
}

